header {
  background-color: red;
  height: 100px;
}
body {
  background-color: white;
}
footer{
  background-color: red;
  height: 100px;
}
.new{
  border: 2px solid black;
  height: 200px;
  font-family: 'Roboto', sans-serif;
}